/* Общий стиль */
body {
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.wrapper {
    text-align: center;
}

/* Игровая сетка */
.memo-game {
    display: grid;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
}

/* Карточки */
.card {
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.card-front {
    background: #555;
}

.card-back {
    background: #ffeb3b;
    color: #333;
    transform: rotateY(180deg);
}

/* Информация об игре */
.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    /*max-width: 400px;*/
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.level,
.timer,
.score {
    font-size: 18px;
    font-weight: bold;
}

/* Кнопка рестарта */
.button-restart {
    background: #ff5722;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.button-restart:hover {
    background: #e64a19;
    transform: scale(1.1);
}

.button-restart:active {
    transform: scale(0.95);
}
